################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DI_Autofac_Test/obj
/DI_Autofac_Test/bin/Debug/netcoreapp3.1
/.vs/DI_Autofac_Test
